---
import MainLayout from "../layouts/main-layout.astro";
import {
  LuRectangleHorizontal,
  LuArrowDownFromLine,
  LuMaximize2,
  LuTextCursorInput,
  LuPictureInPicture2,
  LuTable,
  LuCheck,
} from "react-icons/lu";
import { RiTailwindCssFill } from "react-icons/ri";
import { TbBrandFramerMotion } from "react-icons/tb";
import { FaReact } from "react-icons/fa";
import { ButtonExample } from "../examples/button-example";
import { ExpanderExample } from "../examples/expander-example";
import { ImageExpanderExample } from "../examples/image-expander-example";
import { InputExample } from "../examples/input-example";
import { ModalExample } from "../examples/modal-examples";
import { RegularTableExample } from "../examples/regular-table-examples";
import { CheckboxExample } from "../examples/checkbox-example";
---

<MainLayout>
  <div class="flex flex-col gap-[20px]">
    <div class="py-[30px] px-[20px]">
      <h1 class="font-bold text-neutral-900 text-[60px] text-center">COMPS</h1>
      <p class="text-neutral-500 text-center">Easy React components</p>
    </div>

    <hr class="w-full border-neutral-200" />

    <div class="p-[20px] flex gap-[10px]">
      <RiTailwindCssFill className="text-neutral-400" size={30} />
      <TbBrandFramerMotion className="text-neutral-400" size={30} />
      <FaReact className="text-neutral-400" size={30} />
    </div>

    <hr class="w-full border-neutral-200" />

    <div class="p-[20px] flex flex-col gap-[10px]">
      <p class="text-neutral-500">Just one file per component</p>
      <p class="text-neutral-500">No need package manage, just copy and past</p>
      <p class="text-neutral-500">
        Explicity dependencies: Tailwind, React, Motion and React icons
      </p>
      <p class="text-neutral-500">Miminal code for implementation and usage</p>
    </div>

    <hr class="w-full border-neutral-200" />

    <div class="p-[20px] flex flex-col gap-[15px]">
      <a href="#button-example" class="flex gap-[18px] items-center">
        <LuRectangleHorizontal size={22} />
        <span> Buttons </span>
      </a>
      <a href="#expander-example" class="flex gap-[18px] items-center">
        <LuArrowDownFromLine size={22} />
        <span> Expander </span>
      </a>
      <a href="#image-expander-example" class="flex gap-[18px] items-center">
        <LuMaximize2 size={22} />
        <span> Image Expander </span>
      </a>

      <a href="#input-example" class="flex gap-[18px] items-center">
        <LuTextCursorInput size={22} />
        <span> Input </span>
      </a>

      <a href="#modal-example" class="flex gap-[18px] items-center">
        <LuPictureInPicture2 size={22} />
        <span> Modal </span>
      </a>

      <a href="#regular-table-example" class="flex gap-[18px] items-center">
        <LuTable size={22} />
        <span> Regular Table </span>
      </a>

      <a href="#checkbox-example" class="flex gap-[18px] items-center">
        <LuCheck size={22} />
        <span> Checkbox </span>
      </a>
    </div>

    <hr class="w-full border-neutral-200" />
    <ButtonExample />
    <hr class="w-full border-neutral-200" />
    <ExpanderExample client:only />
    <hr class="w-full border-neutral-200" />
    <ImageExpanderExample client:only />
    <hr class="w-full border-neutral-200" />
    <InputExample />
    <hr class="w-full border-neutral-200" />
    <ModalExample client:only />
    <hr class="w-full border-neutral-200" />
    <RegularTableExample />
    <hr class="w-full border-neutral-200" />
    <CheckboxExample client:only />

    <div class="p-[20px]">
      <small class="text-neutral-500 text-center w-full block">
        Coded and designed by Carlos Costa
      </small>
    </div>
  </div>
</MainLayout>
